<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <li class="nav-item dropdown">
        <button class="btn btn-dark dropdown-toggle navbar-brand" id="openModalButton" data-bs-toggle="dropdown" aria-expanded="false">
          MENU
        </button>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Option</h1>
                <a class="btn-close" th:href="@{/}"></a>
              </div>
              <div id="modal_body" class="modal-body">

              </div>
            </div>
          </div>
        </div>

      </li>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul id="list_nav_link" class="navbar-nav">

        </ul>
        <ul id="list_nav_dropdown" class="navbar-nav">

        </ul>
      </div>
    </div>
  </nav>

  <div class="px-3 py-2 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <form th:action="@{/clubs/search}" class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto form-search">
        <input id="search-query" type="search" name="query" class="form-control" placeholder="Search..." aria-label="Search">
        <button id="btn-search" type="submit" class="btn btn-primary">Search</button>
      </form>
      <div class="text-end">
        <form th:action="@{/destroy}" method="POST">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="container" th:fragment="footer">
  <hr>
  <footer>
    © 2023 By Clearlove7, Inc.
  </footer>
</div>

</body>
</html>