<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="currentPage='Home'">

<body>

    <div layout:fragment="content" class="container">
        <div class="table-container" >

            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <strong th:text="${success}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${failed}">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <strong th:text="${failed}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Content</th>
                    <th colspan="4">Action</th>
                </tr>
                </thead>
                <tbody th:each="club :${clubs}" >
                    <tr>
                        <th scope="row" th:text="${club.id}"></th>
                        <td th:text="${club.title}"></td>
                        <td><img width="30%" height="100%" th:src="${club.photoUrl}" alt="image" ></td>
                        <td th:text="${club.content}"></td>
                        <td>
                            <form method="GET" th:action="@{'/clubs/' + ${club.id}}">
                                <button class="btn btn-success" type="submit">VIEW</button>
                            </form>
                        </td>
                        <td>
                            <div th:if="${user.id} == ${club.createdBy.id}">
                                <a class="btn btn-primary" th:href="@{'/events/create/' + ${club.id}}" >Create event</a>
                            </div>
                        </td>
                        <td>
                            <div th:if="${user.id} == ${club.createdBy.id}">
                                <form method="GET" th:action="@{/clubs/{id}/edit(id=${club.id})}">
                                    <button class="btn btn-primary" type="submit">EDIT</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div th:if="${user.id} == ${club.createdBy.id}">
                                <form role="form" method="GET" th:action="@{clubs/{id}/delete(id=${club.id})}" >
                                    <button class="btn btn-danger" type="submit" th:attr="onclick='alert(\'Delete item: ' + ${club.id} + '\')'" >DELETE</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</body>
</html>