<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content" class="container">

    <div class="table-container" >

        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong th:text="${success}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${failed}">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong th:text="${failed}"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Content</th>
                <th colspan="4">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${club.id}"></th>
                <td th:text="${club.title}"></td>
                <td><img width="30%" height="100%" th:src="${club.photoUrl}" alt="image"></td>
                <td th:text="${club.content}"></td>
                <td>
                    <form method="GET" th:action="@{'/clubs'}">
                        <button class="btn btn-success" type="submit">BACK TO LIST</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/events/create/' + ${club.id}}" >Create event</a>
                </td>
                <td>
                    <form method="GET" th:action="@{/clubs/{id}/edit(id=${club.id})}">
                        <button class="btn btn-primary" type="submit">EDIT</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{/clubs/{id}/delete(id=${club.id})}" th:attr="onclick='alert(\'Delete item: ' + ${club.id} + '\')'">DELETE</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

</div>


</body>
</html>